*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    background-color: #F1F5F8;
}

.container{
    width: 80%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    color: #102A42;
    font-size: 5rem;
    letter-spacing: 0.5rem;
}

.counter{
    color: #222222;
    font-size: 7rem;
    font-weight: 500;
    margin: 3rem 0;
}

.buttons{
    display: flex;
    min-width: 30rem;
    width: 70%;
    justify-content: space-evenly;
}

button{
    border: 2px solid black;
    padding: 0.5rem;
    letter-spacing: 0.35rem;
    border-radius: 7px;
    cursor: pointer;
}

button:hover{
    background-color: black;
    color: white;
    transition: all 0.5s ease;
}